
app
*.ipch
*.opendb
*.db
VisualStudio/.vs/LaneKeeping/v16/.suo
VisualStudio/.vs/OpenCVHelloWorld/v16/.suo
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/SemiAutonomousLaneKeepingSystem/v16/.suo
VisualStudio/LaneKeeping/x64/Debug/LaneDetection.obj
VisualStudio/LaneKeeping/x64/Debug/LaneKeeping.log
VisualStudio/LaneKeeping/x64/Debug/LaneKeeping.tlog/CL.command.1.tlog
VisualStudio/LaneKeeping/x64/Debug/LaneKeeping.tlog/CL.read.1.tlog
VisualStudio/LaneKeeping/x64/Debug/LaneKeeping.tlog/CL.write.1.tlog
VisualStudio/LaneKeeping/x64/Debug/LaneKeeping.tlog/LaneKeeping.lastbuildstate
VisualStudio/LaneKeeping/x64/Debug/LaneKeeping.tlog/link.command.1.tlog
VisualStudio/LaneKeeping/x64/Debug/LaneKeeping.tlog/link.read.1.tlog
VisualStudio/LaneKeeping/x64/Debug/LaneKeeping.tlog/link.write.1.tlog
VisualStudio/LaneKeeping/x64/Debug/main.obj
VisualStudio/LaneKeeping/x64/Debug/vc142.idb
VisualStudio/LaneKeeping/x64/Debug/vc142.pdb
VisualStudio/x64/Debug/LaneKeeping.exe
VisualStudio/x64/Debug/LaneKeeping.ilk
VisualStudio/x64/Debug/LaneKeeping.pdb
VisualStudio/x64/Debug/opencv_annotation.exe
VisualStudio/x64/Debug/opencv_interactive-calibration.exe
VisualStudio/x64/Debug/opencv_version.exe
VisualStudio/x64/Debug/opencv_version_win32.exe
VisualStudio/x64/Debug/opencv_videoio_ffmpeg411_64.dll
VisualStudio/x64/Debug/opencv_visualisation.exe
VisualStudio/x64/Debug/opencv_world411.dll
VisualStudio/x64/Debug/opencv_world411.pdb
VisualStudio/x64/Debug/opencv_world411d.dll
VisualStudio/x64/Debug/opencv_world411d.pdb
VisualStudio/x64/Release/opencv_annotation.exe
VisualStudio/x64/Release/opencv_interactive-calibration.exe
VisualStudio/x64/Release/opencv_version.exe
VisualStudio/x64/Release/opencv_version_win32.exe
VisualStudio/x64/Release/opencv_videoio_ffmpeg411_64.dll
VisualStudio/x64/Release/opencv_visualisation.exe
VisualStudio/x64/Release/opencv_world411.dll
VisualStudio/x64/Release/opencv_world411.pdb
VisualStudio/x64/Release/opencv_world411d.dll
VisualStudio/x64/Release/opencv_world411d.pdb
VisualStudio/LaneKeeping/x64/Release/LaneDetection.obj
VisualStudio/LaneKeeping/x64/Release/LaneKeeping.log
VisualStudio/LaneKeeping/x64/Release/LaneKeeping.tlog/CL.command.1.tlog
VisualStudio/LaneKeeping/x64/Release/LaneKeeping.tlog/CL.read.1.tlog
VisualStudio/LaneKeeping/x64/Release/LaneKeeping.tlog/CL.write.1.tlog
VisualStudio/LaneKeeping/x64/Release/LaneKeeping.tlog/LaneKeeping.lastbuildstate
VisualStudio/LaneKeeping/x64/Release/LaneKeeping.tlog/LaneKeeping.write.1u.tlog
VisualStudio/LaneKeeping/x64/Release/LaneKeeping.tlog/link.command.1.tlog
VisualStudio/LaneKeeping/x64/Release/LaneKeeping.tlog/link.read.1.tlog
VisualStudio/LaneKeeping/x64/Release/LaneKeeping.tlog/link.write.1.tlog
VisualStudio/LaneKeeping/x64/Release/main.obj
VisualStudio/LaneKeeping/x64/Release/vc142.pdb
VisualStudio/x64/Release/LaneKeeping.exe
VisualStudio/x64/Release/LaneKeeping.iobj
VisualStudio/x64/Release/LaneKeeping.ipdb
VisualStudio/x64/Release/LaneKeeping.pdb
VisualStudio/LaneKeeping/x64/Debug/LaneDetector.obj
VisualStudio/LaneKeeping/x64/Release/LaneDetector.obj
VisualStudio/LaneKeeping/x64/Release/LaneKeeping.tlog/link.delete.1.tlog
VisualStudio/LaneKeeping/x64/Debug/lanedetection.obj.enc
*.obj
*.lastbuildstate
*.tlog
*.log
*.idb
*.pdb
*.ilk
*.exe
*.iobj
*.ipdb
VisualStudio/LaneKeeping/x64/Release/LaneKeeping.exe.recipe
VisualStudio/x64/Debug/opencv_videoio_ffmpeg450_64.dll
VisualStudio/x64/Debug/opencv_videoio_msmf450_64.dll
VisualStudio/x64/Debug/opencv_videoio_msmf450_64d.dll
VisualStudio/x64/Debug/opencv_world450.dll
VisualStudio/x64/Debug/opencv_world450d.dll
VisualStudio/x64/Debug/opencv_world450.pdb
VisualStudio/x64/Debug/opencv_world450d.dll
VisualStudio/x64/Debug/opencv_world450d.pdb
VisualStudio/x64/Release/opencv_videoio_ffmpeg450_64.dll
VisualStudio/x64/Release/opencv_videoio_msmf450_64.dll
VisualStudio/x64/Release/opencv_videoio_msmf450_64d.dll
VisualStudio/x64/Release/opencv_world450.dll
VisualStudio/x64/Release/opencv_world450d.dll
VisualStudio/x64/Release/opencv_world450.pdb
VisualStudio/x64/Release/opencv_world450d.dll
VisualStudio/x64/Release/opencv_world450d.pdb
VisualStudio/.vs/LaneKeeping/v16/Browse.VC.db-shm
VisualStudio/.vs/LaneKeeping/v16/Browse.VC.db-wal
